@page
@using CoreLayer.Utilities
@model Weblog.Pages.BlogModel
@{
    Layout = "Shared/_LayoutBlog";
}

<!--Blog List Section Starts-->
<section class="blogs blog-list pt-100 pb-50" data-scroll-index="4">
    <div class="container">
        <div class="row">
            @foreach (var post in Model.BlogPosts.Where(p => !p.IsSpecial)) // حذف پست‌های ویژه
            {
                <div class="col-lg-4 col-md-6">
                    <!--Blogs Item-->
                    <div class="blog-item">
                        <div class="blog-img">
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@post.PostId">
                                <img src="@Directories.GetPostImage(post.ImageName)" alt="@post.Title">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3>@post.Title</h3>
                            <div class="truncate-text">
                                @Html.Raw(post.Description) @* اگر HTML دارد، در غیر این صورت فقط @post.Description *@
                            </div>
                            <div class="blog-meta">
                                <span class="more">
                                    <a asp-page="/Post" asp-route-slug="@post.Slug">مطالعه بیشتر</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Blog List Section End-->
